.git
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*.php
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
tests
.github
docs
design_handoff_printlab
*.md
docker-compose.yml
docker-compose.prod.yml
docker-compose.override.yml
